@model Category
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Category - @Model.Name</h1>
<hr />
<form method="post">
    <label for="Name">Name</label>
    <input type="text" name="Name" id="Name" value="@Model.Name" />
    <br />
    <label for="Description">Description</label>
    <input type="text" name="Description" id="Description" value="@Model.Description" />
    <br />
    <label for="IsStatus">Status</label>
    <input type="checkbox" data-val="true" value="true" checked="@Model.IsStatus" name="IsStatus" id="IsStatus" />
    <br />
    <input type="submit" value="Edit Category" />
    <br />
    <label style="color:orange">@ViewData["Message"]</label>
</form>

